#grad {
  background-color: linear-gradient(to bottom right, Turquoise, purple);
}
body {
  text-align: center;
  height: 150px;
  
}
h1 {
  color: ;
  
  body {
    font-family :'Roboto', sans-serif
  }
<section> 
    background-color:#edb879